.formtable {
  > tbody {
    display: block;
  }

  input,
  select {
    border-color: $border-color-base !important;
  }

  > tbody > tr > td {
    padding: 0.25rem 0.5rem;
  }

  > tbody > tr > th {
    padding: 0.25rem 0;
  }
}
